#header{}
body ul{
    list-style-type:none;
    margin:0;
}
#upnav{
    margin:10px;
    height:auto;
    overflow: hidden;
}
#upnav ul{
    float:left;
    width:100%;
    padding:0;
}
li.mainmenu{
    display:inline-block;
}
a.mainmenu{
    display:inline-block;
    border-right:1px solid white;
    background-color:black;
    color:white;
    margin:-2px;
    width:10em;
    text-decoration:none;
    padding:0 10px 0 10px;
}
a.mainmenu:hover{
    background-color:grey;
}
ul.submenu{
    position:absolute;
    display:none;
}
#resume{
    position:relative;
    margin:10px;
    padding-right:250px;
    min-height:700px;
    min-width:605px;
    height:100%;
}
div.resume-menu{
    position:absolute;
    width:250px;
    top:0;
    right:0;
}
div.resume-menu a{
    display:block;
    padding:20px;
    border-style:none none solid none;
    background-color:white;
    color:black;
    text-align:center;
    text-decoration:none;
}
div.resume-menu a:hover{
    background-color:black;
    color:white;
}